@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">We Are Mega Desk</h1>
        </div>
    </div>
</body>
