@page
@model WebApplication1.Pages.Quote.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.CustomersName" class="control-label"></label>
                <input asp-for="DeskQuote.CustomersName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.ShippingDays" class="control-label"></label>
                <input asp-for="DeskQuote.ShippingDays" class="form-control" />
                <span asp-validation-for="DeskQuote.ShippingDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.QuoteDate" class="control-label"></label>
                <input asp-for="DeskQuote.QuoteDate" class="form-control" />
                <span asp-validation-for="DeskQuote.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Material" class="control-label"></label>
                <input asp-for="Desk.Material" class="form-control" />
                <span asp-validation-for="Desk.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.WidthUpDown" class="control-label"></label>
                <input asp-for="Desk.WidthUpDown" class="form-control" />
                <span asp-validation-for="Desk.WidthUpDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.HeightUpDown" class="control-label"></label>
                <input asp-for="Desk.HeightUpDown" class="form-control" />
                <span asp-validation-for="Desk.HeightUpDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.NumDrawers" class="control-label"></label>
                <input asp-for="Desk.NumDrawers" class="form-control" />
                <span asp-validation-for="Desk.NumDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
